
<footer class="row navbar-default container" ng-controller="EventsCtrl">
	<p class="text-muted pull-left">Developed by Codemaker</p>
	<p class="pull-right hidden-xs">
		<a href="#" analytics-on analytics-category="Links">Home</a> |
		<a href="mailto:codemaker2015@gmail.com" target="_blank" analytics-on analytics-category="Links">Contact Us</a> |
		<a href="http://opensource.org/licenses/MIT" target="_blank" analytics-on analytics-category="Links">License</a> |
		<a href="#top" target="_self">Back To Top</a>
	</p>
</footer>
